.fun-button {
  background: $primary_color;
  outline: none;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 6px 8px;
  border-radius: 2px;
  color: #fff;
  > span {
    display: inline-flex;
    align-items: center;
  }
  &:hover {
      background: $primary_color_alpha;
  }
  transition: transform .3s;

  & + & {
    margin-left: 12px;
  }
  span.expand {
    letter-spacing: 0.3em;
    margin-right: -0.3em;
  }
  &.fun-btn- {
    &secondary {
      border-color: #111;
      background: #fff;
      color: #111;
    }
    &warning {
      border-color: #ffe60a;
      background: #fff;
      color: #ffe60a;
    }
    &danger {
      border-color: red;
      background: red;
      color: #fff;
    }
    &secondary {
      border-color: #111;
      background: #fff;
      color: #111;
    }
  }
}
