button {
  background: $primary_color;
  outline: none;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 8px;
  color: #fff;
  > span {
    display: inline-flex;
    align-items: center;
  }
  &:hover {
      background: $primary_color_alpha;
  }

  & + & {
    margin-left: 12px;
  }
  span.expand {
    letter-spacing: 0.3em;
    margin-right: -0.3em;
  }
}
